@page "/home"
@inject NavigationManager UriHelper

 <AuthorizeView>
    <NotAuthorized>
        <p>You are not authorized to view this content.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; } = default!;


    protected void navigateMenu(string Path)
    {

        UriHelper.NavigateTo(Path);
    }
}