@page "/login"
@layout LoginLayout
@inject NavigationManager Navigation

<PageTitle>Đăng nhập</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="spinner-border text-primary"></div>
        <p class="mt-3">Đang chuyển hướng đến Keycloak...</p>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        var keycloakUrl =
            "http://10.0.8.32:8080/realms/TestSSO/protocol/openid-connect/auth" +
            "?client_id=TestSSO" +
            "&response_type=code" +
            "&scope=openid" +
            "&redirect_uri=http://localhost:5105/callback";

        Navigation.NavigateTo(keycloakUrl, true);
    }
}